<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Information Catalogue</title>
    @Styles.Render("~/Content/css")    
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Stylesheet.css")
    <link href="@Url.Content("~/Themes/calendar_white.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Information Catalogue", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @{
                if (!string.IsNullOrWhiteSpace(Session["Login"] as string))
                {
                    <div class="navbar-collapse collapse">
                        <div class="navbar-right">
                            @{
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink((string)Session["Login"], "Index", "Login")</li>
                                    <li>@Html.ActionLink("Log Out", "Logout", "Home")</li>
                                </ul>
                            }
                        </div>
                    </div>                    
                }
            }
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
