@model IEnumerable<Catalogue.Models.Catalogue>

@{ 
    var modelOrdered = Model.OrderByDescending(m => m.Priority);
}

@{
    ViewBag.Title = "Information Catalogue";
}

<h3>Welcome @ViewBag.Username!</h3>

<div class="col">
    <div class="col-sm-4">
        <h2>Catalogues</h2>
        <div class="btn btn-default">@Html.ActionLink("Create Catalogue", "Create", "Catalogues")</div>

        @foreach (var item in modelOrdered)
        {
             
           var cataItems = item.CatalogueItems.OrderBy(ci => ci.Deadline);
            
            <div class="table table-bordered">
                <div class="table table-condensed text-center">
                    <div class="btn btn-default navbar-left">@Html.ActionLink(" Edit", "Edit", "Catalogues", new { id = item.CataID }, null)</div>
                    @item.Title
                    <div class="btn btn-default navbar-right">@Html.ActionLink("Create Item", "CataItemCreate", "CatalogueItems", new { cataID = item.CataID }, null)</div><br/>
                    Priority: @item.Priority
                    <hr/>
                </div>
                
                <div class="text-center">
                @foreach (var cataItem in cataItems)
                {
                    <div><div class="btn btn-default navbar-left">@Html.ActionLink(" Edit", "Edit", "CatalogueItems", new { id = cataItem.ItemID }, null)</div>
                    @cataItem.Title <br/>
                    Deadline: @cataItem.Deadline
                    </div><hr />
                }
                </div>
            </div>
        }
    </div>
</div>



<div class="col">
    <div class="col-lg-4">
        <h2>Your Content Here...</h2>
    </div>
</div>
<br />